<style>
    /* Footer */
    .footer {
        background-color: #053742;
        padding: 0.5rem 0;
        color: #E8F0F2;
        vertical-align: auto;
    }
</style>

<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <p style="margin-bottom: 0px;">© Team_07 2022 All rights reserved</p>
    </div>
</footer>