<style>
    @import url("https://fonts.googleapis.com/css?family=Blinker:400,300,700,600");
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

    /* Navigation Bar */
    .navbar-brand {
        font-weight: 600;
        font-size: 1.5rem;
        font-family: "Blinker";
    }

    .navbar {
        height: 4.5rem;
        padding-left: 2.1rem;
    }
</style>
<script src="/js/search-course.js"></script>
<!--Nav bar-->

<nav class="navbar navbar-dark " style="background-color: #053742;margin-bottom: 0px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Curriculum Helper</a>
        <div class="d-flex" role="search" >
            <input class="form-control me-2" id="search-bar" type="search" placeholder="subject and code" aria-label="Search">
            <button class="btn btn-outline-light" onclick="search_course()">Search</button>
        </div>
    </div>
</nav>