<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1441, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="img/icons8-study-64.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/homepage.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <script src="/js/request.js"></script>
    <script src="/js/add-new-degree.js"></script>
</head>

<body style="margin: 0; background: #e8f0f2">
    <input type="hidden" id="anPageName" name="page" value="homepage" />
    <div class="homepage">
        <div class="app-top">
            <div class="curriculum-helper valign-text-middle blinker-semi-bold-aqua-squeeze-24px">Curriculum Helper
            </div>
        </div>
        <div class="main-part">
            <div class="overlap-group">
                <div class="head">
                    <div class="left">
                        <div class="title-and-slogan">
                            <div class="title">
                                <div class="title-1 belleza-normal-black-60px">
                                    Make your coordination easier
                                </div>
                            </div>
                            <div class="slogaan">
                                <div class="slogaan-1">Browse degree structure and course relationships with
                                    just
                                    one click.</div>
                            </div>
                        </div>
                        <div class="search-bar">
                            <div class="search-box">
                                <div class="search-icon">
                                    <img class="search-icon-1" src="img/search-icon@2x.png" />
                                </div>
                                <input id="searhing-value" type="text" name="searching_value"
                                    placeholder="Course name or course number"
                                    style="width: 390px; font-size: 20px; border:none; outline: none; padding-left: 20px;">
                            </div>
                            <div class="widget-wrapper">
                                <div class="drop-down-filled-disabled-yes-primary">
                                    <div class="mdc-select mdc-select--outlined demo-width-class"
                                        data-id="anima-widget">
                                        <div class="mdc-select__anchor custom-enhanced-select-width" role="button"
                                            aria-haspopup="listbox" aria-expanded="false">
                                            <span id="demo-label" class="mdc-floating-label"></span>
                                            <span class="mdc-select__selected-text-container">
                                                <span id="demo-selected-text" class="mdc-select__selected-text"></span>
                                            </span>
                                            <span class="mdc-select__dropdown-icon">
                                                <span
                                                    class="mdc-select__dropdown-icon-inactive material-icons">arrow_drop_down</span>
                                                <span
                                                    class="mdc-select__dropdown-icon-active material-icons">arrow_drop_up</span>
                                            </span>
                                            <span class="mdc-line-ripple"></span>
                                        </div>
                                        <div
                                            class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth">
                                            <ul class="mdc-list" id="select_dropdown" role="listbox"
                                                aria-label="listbox">
                                                <li class="mdc-list-item mdc-list-item--selected"
                                                    data-value="All categories" role="option">
                                                    <span class="mdc-list-item__ripple"></span>
                                                    <span class="mdc-list-item__text">All categories</span>
                                                </li>
                                                <li class="mdc-list-item" data-value="Degrees" role="option">
                                                    <span class="mdc-list-item__ripple"></span>
                                                    <span class="mdc-list-item__text">Degrees</span>
                                                </li>
                                                <li class="mdc-list-item" data-value="Courses" role="option">
                                                    <span class="mdc-list-item__ripple"></span>
                                                    <span class="mdc-list-item__text">Courses</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <script>
                                        new mdc.select.MDCSelect(document.querySelector(".drop-down-filled-disabled-yes-primary .mdc-select"));
                                    </script>
                                </div>
                            </div>
                            <button id="btnSearch" class="button" onclick="doSearching()">
                                <div class="search-1 blinker-semi-bold-white-20px">Search</div>
                            </button>
                        </div>
                    </div>
                    <div class="version-control-bro-1">
                        <img class="version-control-bro-1-1" src="img/version-control-bro-1@1x.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-button">
            <a href="/">
                <div class="button-1">
                    <div class="degree valign-text-middle">Degree</div>
                </div>
            </a>
            <a href="/course-overview" onclick="loading()">
                <div class="button-2">
                    <div class="course valign-text-middle">Course</div>
                </div>
            </a>
        </div>

        <div id="add-new-degree-btn" style="position: relative; width: 100%; height: 10px;">
            <div style="position: absolute; left: 80%">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add new degree
            </div>
        </div>

        <div class="body">
            <div class="body-1">
                <div class="card-row">
                    <% for (i=0; i<degreeContent.length; i++){ %>
                        <% let degreeFullName=degreeContent[i].degree.split(" "); %>   
                        <% let degreeRoute = degreeFullName.join("-"); %>
                        <% let degreeLevel=degreeFullName.slice(0, 2).join(" "); %>
                        <% let degreeName = degreeFullName.slice(2, degreeFullName.length).join(" "); %>
                        
                        <a href=" /degree-structure/<%=degreeRoute %>" class="link">
                                <div class="card-full-card">
                                    <!-- dynamically change image -->
                                    
                                    <img class="image" src="img/image-<%= (i % 9) %>@2x.png" />

                                    <div class="data">
                                        <div class="title-row">
                                            <div class="nameblinker-semi-bold-white-18px">

                                                <!-- dynamically change degree name -->
                                                <span class="blinker-semi-bold-moonstone-18px">
                                                    <%= degreeLevel %>
                                                </span><span
                                                    class="blinker-semi-bold-royal-blue-18px">&nbsp;</span><span
                                                    class="blinker-semi-bold-storm-gray-18px">
                                                    <%= degreeName %>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                                <% } %>
                </div>
            </div>
        </div>


        <!-- trgger search by keyboard events -->
        <script>
            var input = document.getElementById("searhing-value");

            input.addEventListener("keypress", function (event) {
                if (event.key == "Enter") {
                    event.preventDefault();
                    document.getElementById("btnSearch").click();
                }
            });
        </script>



        <div class="app-bottom">
            <div class="copyright">
                <p class="team_07-2022-all-rights-reserved">
                    © Team_07&nbsp;&nbsp; 2022&nbsp;&nbsp; All rights reserved
                </p>
            </div>
        </div>
    </div>
    <script>
        /* This function create a loading icon */
        function loading() {
            document.getElementById('add-new-degree-btn').remove();
            document.getElementsByClassName("card-row")[0].remove();
            document.getElementsByClassName("body-1")[0].insertAdjacentHTML('afterbegin',
                `<link rel="stylesheet" type="text/css" href="/css/loading-page.css" />
                <div class="loading" id="loading-icon" style="position:absolute ; margin-top: 700px">Loading...</div>`)
        }
    </script>

    <script>
        /* Once click the botton, route to the searching page */
        function doSearching() {
            let searchingScope = document.getElementById("demo-selected-text").innerText;
            let searchingValue = document.getElementById("searhing-value").value.toLowerCase().split(' ').join('-');

            searchingScope = searchingScope.split(' ').join('_');

            if (searchingScope === 'Degrees') {
                searchingScope = 'degree-name';
            }
            else if (searchingScope === 'Courses') {
                searchingScope = 'course-name';
            }
            else {
                searchingScope = 'all-categories';
            }

            window.open(`/search?${searchingScope}=${searchingValue}`, '_self');
        }
    </script>
</body>

</html>