<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../public/css/add-new-degree.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="javascripts/main.js" defer></script>
        <script src="javascripts/add_things.js"></script>
        <meta charset="UTF-8">
        <title>Add New Degree</title>
    </head>
    <body>
        <div id="mainDiv">
            <!-- hyperlinks to other pages -->
            <div class="section modal-container" id="Header">
                <!-- <a href="/">Home</a> -->
                <a href="/index.html">Home</a>
                <a href="/add-course.html" target="_self">Add Course</a>
                <a href="/add-new-course.html" target="_self">Add New Course</a>
                <a href="/edit-course.html" target="_self">Edit Course</a>
            </div><br>
            <!-- pop up -->
            <div class="center container popup popupbox">
                <form>
                    <div class="center content popup popupbox">
                       <!-- Text field -->
                        <div class="center content">
                            <label for="degree_name">Degree Name: </label>
                                <input type="text" id="degree_name"><br>
                            <label for="course_name">Course Name: </label><br>
                            <select name="course_name" id="course_name">
                                <template v-for="course in course">
                                    <option :value="course.c" v-if="course.c > 0"> {{course.s}}</option>
                                </template>
                            </select>
                    <!-- Bachelor, Master and Undergraduate dropdown list -->
                        <label>
                                <select name="degree_title">
                                    <option value="bachelor">Bachelor</option>
                                    <option value="undergraduate">Undergraduate</option>
                                    <option value="master">Master</option>
                                </select>
                        </label><br>
                            <select name="degree_type">
                                <option value="core">Core</option>
                                <option value="elective">Elective</option>
                                <option value="project">Project</option>
                            </select><br>
                            <hr>
                        <button type="button" onclick="addNewDegree()">Confirm</button><br>
                        <button type="reset">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>